<section id="contact" class="section">
  <div class="text-center">
    <h2>Comment nous contacter ?</h2>
    <p>Par message privé sur nos réseaux sociaux</p>
  </div>
  <div class="social-media">
    <div class="social-icon facebook">
      <a href="https://www.facebook.com/planet.iris.belgique/" target="_blank" aria-label="Facebook">
        <img src="img/vector/facebook.svg" alt="Facebook" width="200" height="200" loading="lazy">
      </a>
    </div>
    <div class="social-icon instagram">
      <a href="https://www.instagram.com/planet_iris_belgique/" target="_blank" aria-label="Instagram">
        <img src="img/vector/instagram.svg" alt="Instagram" width="200" height="200" loading="lazy">
      </a>
    </div>
  </div>
</section>
