<footer class="footer">
  <div class="container">
    <div class="footer-social-media-container">
      <div class="social-media-content">
        <div class="fade-in-on-scroll">
          <p class="my-auto">Suivez-nous</p>
        </div>
        <a href="https://www.instagram.com/planet_iris_belgique/" target="_blank" aria-label="Instagram"
           class="social-media-link w-inline-block">
          <img src="https://assets.website-files.com/63aee5793ca698452efe7f60/63b596060d25401713e4cacd_instagram.svg"
               loading="lazy" alt="Instagram" class="social-media-icon"/>
        </a>
        <a href="https://www.facebook.com/planet.iris.belgique/" target="_blank" aria-label="Facebook"
           class="social-media-link w-inline-block">
          <img src="https://assets.website-files.com/63aee5793ca698452efe7f60/63b596060d254036e8e4cacc_facebook.svg"
               loading="lazy" alt="Facebook" class="social-media-icon"/>
        </a>
      </div>
      <div data-pi-id="u7XKL971ewp" class="made-container">
        <div class="made-by-azwedo">
          <div class="light-grey">
            Made<span class="text-gradient-1"></span>
            by <a href="https://www.linkedin.com/in/denis-wojtowicz/" target="_blank" class="external-link">Denis
            Wojtowicz</a>
          </div>
        </div>
        <div class="powered-by">
          <div class="light-grey">
            Powered by <a href="https://www.hostinger.com" target="_blank" class="external-link">Hostinger</a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-flex-container">
      <div class="footer-brand-content">
        <a href="/" data-pi-id="pA2JwpN119" aria-current="page" class="brand w-nav-brand w--current">
          Planet'Iris
        </a>
        <ul role="list" class="footer-list w-list-unstyled">
          <li class="footer-list-item">
            <a routerLink="/services" class="link w-inline-block">
              <div>Services</div>
            </a>
          </li>
          <li class="footer-list-item">
            <a routerLink="/tarifs" class="link w-inline-block">
              <div>Tarifs</div>
            </a>
          </li>
          <li class="footer-list-item">
            <a routerLink="/contact" class="link w-inline-block">
              <div>Contact</div>
            </a>
          </li>
          <li class="footer-list-item">
            <a routerLink="/mentions-legales" class="link w-inline-block">
              <div>Mentions légales</div>
            </a>
          </li>
          <li class="footer-list-item">
            <a routerLink="/politique-de-confidentialite" class="link w-inline-block">
              <div>Politique de Confidentialité</div>
            </a>
          </li>
        </ul>
      </div>
      <div data-pi-id="d3ZMyfWHdF" class="footer-copyright">
        <div><span>Planet'iris</span>©<span>{{ currentYear() }}</span></div>
      </div>
    </div>
  </div>
</footer>
