<div class="container" style="padding-top: 2rem; padding-bottom: 4rem;">
  <a routerLink="/" class="link w-inline-block" style="display:inline-block; margin-bottom: 1.5rem;">
    &larr; Retour
  </a>
  <h1>Mentions Légales</h1>

  <section>
    <h2>Éditeur du site</h2>
    <p><strong>Planet'Iris</strong><br>
      Dottignies, Belgique<br>
      Créée en 2024 par Emilie Deman et Denis Wojtowicz
    </p>
  </section>

  <section>
    <h2>Responsable de la publication</h2>
    <p>Denis Wojtowicz</p>
  </section>

  <section>
    <h2>Hébergement du site</h2>
    <p>Nom de l'hébergeur : Infomaniak<br>
      Adresse de l'hébergeur : Infomaniak Network SA - Rue Eugène Marziano 25 - 1227 Les Acacias (GE)<br>
      Contact de l'hébergeur : <a href="https://www.infomaniak.com/fr/aide">www.infomaniak.com/fr/aide</a>
    </p>
  </section>

  <section>
    <h2>Propriété intellectuelle</h2>
    <p>Tous les contenus présents sur le site Planet'Iris, incluant, de façon non limitative, les graphismes, images,
      textes, vidéos, animations, sons, logos, gifs et icônes ainsi que leur mise en forme sont la propriété exclusive
      de Planet'Iris à l'exception des marques, logos ou contenus appartenant à d'autres sociétés partenaires ou
      auteurs.</p>
  </section>

  <section>
    <h2>Protection des données personnelles</h2>
    <p>Conformément à la loi, vous disposez d'un droit d'accès, de rectification, de modification et de suppression des
      données vous concernant. Vous pouvez exercer ce droit en envoyant un courrier électronique à
      <a class="email" href="mailto:contact@planetiris.com">contact&#64;planetiris.com</a>.</p>
  </section>

  <section>
    <h2>Cookies</h2>
    <p>Le site Planet'Iris peut être amené à vous demander l'acceptation des cookies pour des besoins de statistiques et
      d'affichage. Un cookie est une information déposée sur votre disque dur par le serveur du site que vous
      visitez.</p>
  </section>

  <section>
    <h2>Liens hypertextes</h2>
    <p>Le site Planet'Iris peut contenir des liens hypertextes vers d'autres sites présents sur le réseau Internet. Les
      liens vers ces autres ressources vous font quitter le site Planet'Iris.</p>
  </section>

  <section>
    <h2>Contact</h2>
    <p>Pour toute question ou information concernant le site, vous pouvez nous contacter à l'adresse suivante :
      <a class="email" href="mailto:contact@planetiris.com">contact&#64;planetiris.com</a>.</p>
  </section>
</div>
