// ── Dosis ─────────────────────────────────────────
@font-face {
  font-family: Dosis-Bold;
  src: url('../../font/Dosis/Dosis-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: Dosis-Regular;
  src: url('../../font/Dosis/Dosis-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Dosis-Light;
  src: url('../../font/Dosis/Dosis-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: Dosis-SemiBold;
  src: url('../../font/Dosis/Dosis-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
}

// ── Playfair Display ──────────────────────────────
@font-face {
  font-family: PlayfairDisplay-Bold;
  src: url('../../font/PlayfairDisplay/PlayfairDisplay-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: PlayfairDisplay-Regular;
  src: url('../../font/PlayfairDisplay/PlayfairDisplay-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: PlayfairDisplay-Black;
  src: url('../../font/PlayfairDisplay/PlayfairDisplay-Black.ttf') format('truetype');
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: PlayfairDisplay-Medium;
  src: url('../../font/PlayfairDisplay/PlayfairDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
}
