<section id="vos-iris" class="section">
  <div class="sticky-section">
    <div class="container wide-container">
      <div class="iris-grid">
        <div class="trusted-content iris-col">
          <div class="content-sticky">
            <div class="fade-in-on-scroll">
              <h2 class="title smaller" transloco="vos-iris.title"></h2>
            </div>
            <div class="fade-in-on-scroll">
              <p transloco="vos-iris.desc"></p>
            </div>
          </div>
        </div>
        <div class="trusted-content trusted-list iris-col">
          <div class="trusted-overlay-container">
            <div class="trusted-white-overlay"></div>
            <div class="trusted-white-overlay bottom"></div>
          </div>
          @for (item of irisItems; track item.number) {
            <div class="trusted-item">
              <div class="trusted-item-header">
                <h2 class="trusted-no">{{ item.number }}</h2>
                <div class="card-title">
                  <strong [transloco]="item.labelKey"></strong>
                </div>
              </div>
              <div class="fade-in-on-scroll">
                <picture>
                  <img
                    sizes="(max-width: 1400px) 100vw, 1400px"
                    [srcset]="getSrcset(item.name)"
                    [src]="'img/vos-iris/' + item.name + '_w_1400.webp'"
                    [attr.alt]="item.altKey | transloco">
                </picture>
              </div>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</section>
