<section data-pi-id="9f8g7h6i5j" class="section">
  <div class="container no-paddings">
    <div class="hero-section">
      <div class="hero-section-text-holder">
        <div class="hero-section-sticky">
          <div class="hero-sticky-holder">
            <div class="hero-text-holder">
              <div class="hero-text-wrapper _01">
                <div class="hero-text">Planet'</div>
              </div>
              <div class="hero-text-wrapper _02">
                <div class="hero-text _02">Iris</div>
              </div>
            </div>
          </div>
        </div>
        <div class="iris-holder">
          <picture>
            <img
              sizes="(max-width: 1400px) 100vw, 1400px"
              srcset="img/vos-iris/quintuor_w_200.webp 200w,
                      img/vos-iris/quintuor_w_359.webp 359w,
                      img/vos-iris/quintuor_w_475.webp 475w,
                      img/vos-iris/quintuor_w_580.webp 580w,
                      img/vos-iris/quintuor_w_665.webp 665w,
                      img/vos-iris/quintuor_w_733.webp 733w,
                      img/vos-iris/quintuor_w_784.webp 784w,
                      img/vos-iris/quintuor_w_853.webp 853w,
                      img/vos-iris/quintuor_w_920.webp 920w,
                      img/vos-iris/quintuor_w_978.webp 978w,
                      img/vos-iris/quintuor_w_1033.webp 1033w,
                      img/vos-iris/quintuor_w_1091.webp 1091w,
                      img/vos-iris/quintuor_w_1144.webp 1144w,
                      img/vos-iris/quintuor_w_1199.webp 1199w,
                      img/vos-iris/quintuor_w_1254.webp 1254w,
                      img/vos-iris/quintuor_w_1309.webp 1309w,
                      img/vos-iris/quintuor_w_1359.webp 1359w,
                      img/vos-iris/quintuor_w_1394.webp 1394w,
                      img/vos-iris/quintuor_w_1400.webp 1400w"
              src="img/vos-iris/quintuor_w_1400.webp"
              alt="Image d'iris montrant la beauté unique des motifs de l'œil">
          </picture>
        </div>
      </div>
      <div class="hero-section-paragraph-holder z-5">
        <div class="hero-paragraph-holder">
          <p transloco="hero.desc1"></p>
          <p><span transloco="hero.desc2"></span> <span class="highlight" transloco="hero.price"></span></p>
          <a routerLink="/services" class="button hero-cta-btn" transloco="hero.cta"></a>
        </div>
      </div>
    </div>
  </div>
</section>
