<section id="tarif" class="section">
  <div class="container">
    <div class="effortlessly-integration-container">
      <div class="center-title">
        <div class="title-holder">
          <div class="fade-in-move-on-scroll">
            <h2 class="title">Faible temps de traitement</h2>
          </div>
          <div class="fade-in-move-on-scroll">
            <div class="presentation-paragraph-holder">
              <p>Nous vous fournissons <strong>les photos au format digital</strong> dans les <strong>3 jours
                ouvrables</strong> et les <strong>impressions</strong> dans les <strong>15 jours ouvrables</strong> à
                compter de la réception du format digital.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="download-badge-holder">
        <div class="download-badge-container">
          <a routerLink="/tarifs" class="custom-button mt-2">Voir nos tarifs</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="effortlessly-integration-container">
      <div class="center-title">
        <div class="fade-in-move-on-scroll">
          <h2 class="title">Vous êtes intéressé ?</h2>
        </div>
      </div>
      <div class="download-badge-holder">
        <div class="download-badge-container">
          <button id="contact-button" class="custom-button" type="button">
            <svg id="eye-svg" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
              <path
                d="M15 12c0 1.654-1.346 3-3 3s-3-1.346-3-3 1.346-3 3-3 3 1.346 3 3zm9-.449s-4.252 8.449-11.985 8.449c-7.18 0-12.015-8.449-12.015-8.449s4.446-7.551 12.015-7.551c7.694 0 11.985 7.551 11.985 7.551zm-7 .449c0-2.757-2.243-5-5-5s-5 2.243-5 5 2.243 5 5 5 5-2.243 5-5z"/>
            </svg>
            Nous contacter
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
