<section id="faq" class="section">
  <div data-pi-id="hJk72xDaz0" class="dark-and-light-mode-holder">
    <div class="dark-and-light-mode-container">
      <div class="dark-and-light-mode-sticky">
        <div class="dark-mode-holder">
          <div class="center-iphone">
            <div class="text-center">
              <h2>FAQ</h2>
            </div>
            <div class="dark-mode-hand-holder">
              <img src="img/faq/iphone.webp" loading="eager" sizes="(max-width: 479px) 300px, 400px"
                   srcset="img/faq/iphone-500.webp 500w, img/faq/iphone-800.webp 800w, img/faq/iphone.webp 848w"
                   alt="iPhone montrant la FAQ" class="dark-mode-hand"/>
              <div class="dark-mode-app-holder">
                <img src="img/facebook_messenger_chat_dark.webp" loading="eager"
                     alt="Facebook Messenger en mode sombre" sizes="232px" class="dark-mode-app"/>
              </div>
            </div>
          </div>
        </div>
        <div class="white-mode-holder">
          <div class="center-iphone">
            <div class="text-center">
              <h2>FAQ</h2>
            </div>
            <div class="dark-mode-hand-holder">
              <img src="img/faq/iphone.webp" loading="eager" sizes="(max-width: 479px) 300px, 400px"
                   srcset="img/faq/iphone-500.webp 500w, img/faq/iphone-800.webp 800w, img/faq/iphone.webp 848w"
                   alt="iPhone montrant la FAQ" class="dark-mode-hand"/>
              <div class="dark-mode-app-holder">
                <img src="img/facebook_messenger_chat_light.webp" loading="eager"
                     alt="Facebook Messenger en mode clair" sizes="232px" class="dark-mode-app"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
