<app-navbar />
<app-breadcrumb />

<main class="container legal-page">
  <h1>Politique de Confidentialité</h1>
    <section>
      <h2>Introduction</h2>
      <p>Bienvenue sur Planet'Iris. Nous prenons la confidentialité de vos données personnelles très au sérieux. Cette
        politique de confidentialité explique quelles informations nous collectons, comment nous les utilisons et
        comment nous les protégeons.</p>
    </section>
    <section>
      <h2>Informations que nous collectons</h2>
      <p>Nous collectons différents types d'informations dans le but de vous fournir et améliorer nos services :</p>
      <ul>
        <li><strong>Informations personnelles</strong> : lorsque vous utilisez notre site, nous pouvons collecter des
          informations telles que votre nom, votre adresse e-mail, et toute autre information que vous fournissez
          volontairement.
        </li>
        <li><strong>Informations d'utilisation</strong> : nous utilisons Google Analytics pour collecter des
          informations sur la manière dont vous utilisez notre site.
        </li>
      </ul>
    </section>
    <section>
      <h2>Utilisation des informations</h2>
      <p>Nous utilisons les informations collectées pour les raisons suivantes :</p>
      <ul>
        <li>Fournir et améliorer nos services</li>
        <li>Personnaliser votre expérience sur notre site</li>
        <li>Analyser l'utilisation de notre site et améliorer sa performance</li>
        <li>Envoyer des communications marketing si vous y avez consenti</li>
      </ul>
    </section>
    <section>
      <h2>Partage des informations</h2>
      <p>Nous ne vendons, n'échangeons ni ne transférons vos informations personnelles à des tiers sans votre
        consentement, sauf pour les fins décrites dans la présente politique.</p>
    </section>
    <section>
      <h2>Google Analytics</h2>
      <p>Nous utilisons Google Analytics pour collecter des informations sur l'utilisation de notre site. Vous pouvez
        empêcher Google Analytics de vous reconnaître lors de vos prochaines visites en désactivant les cookies sur
        votre navigateur.</p>
    </section>
    <section>
      <h2>Protection des informations</h2>
      <p>Nous mettons en œuvre une variété de mesures de sécurité pour maintenir la sécurité de vos informations
        personnelles.</p>
    </section>
    <section>
      <h2>Vos droits</h2>
      <p>Conformément à la législation applicable, vous disposez des droits suivants :</p>
      <ul>
        <li>Accéder à vos données personnelles</li>
        <li>Rectifier les données inexactes ou incomplètes</li>
        <li>Demander l'effacement de vos données personnelles</li>
        <li>Limiter le traitement de vos données personnelles</li>
        <li>Vous opposer au traitement de vos données personnelles</li>
        <li>Demander la portabilité de vos données personnelles</li>
      </ul>
    </section>
    <section>
      <h2>Contactez-nous</h2>
      <p>Email : <a class="email" href="mailto:contact@planetiris.com">contact&#64;planetiris.com</a></p>
    </section>
</main>

<app-footer />
